$image-border: $white;
.comment-section{
    @include sectionStyle(transparent, 30px);
    
    .comment-list{
        list-style: none;
        padding-left: 0;
        
        .comment-item{
            display: flex;
            margin-bottom: 20px;
            .comment-img{
                flex: 0 0 90px;
                width: 90px;
                border: 1px solid $image-border;
            }
            .comment-body{
                flex: 0 0 calc(100% - 90px);
                width: calc(100% - 90px);
                padding-left: 20px;
            }
        }
    }
}
