
@mixin sectionStyle($bg, $padding:20px){
    background-color: $bg;
    padding: $padding 0;
}


@mixin radius($radius){
    @if($enable_rounded){
        border-radius: $radius;
        -webkit-border-radius: $radius;
        -ms-border-radius: $radius;
        -moz-border-radius: $radius;
    }
    @else{
        border-radius: 0;
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
    }

}

@mixin radiusAll($tl, $tr, $br, $bl){
    @if($enable_rounded){
        border-radius: $tl $tr $br $bl;
        -webkit-border-radius: $tl $tr $br $bl;
        -ms-border-radius: $tl $tr $br $bl;
        -moz-border-radius: $tl $tr $br $bl;
    }
    @else{
        border-radius: 0;
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
    }

}


@function colorYIQ($color){
    $r: red($color);
    $g: green($color);
    $b: blue($color);
    $yiq: $r*0.299 + $g*0.587 + $b*0.114;
    
    
    @if($yiq > 120){
        @return $dark;
    }@else{
        @return $white;
    }
}