
*{
    box-sizing: border-box;
    margin: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    background-color: #ccc;
    font-family: $roboto;
    font-weight: 400;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
    font-family: $josefin;
    font-weight: 700;
    line-height: 1.25;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
h4{
    font-size: 2rem;
}
h5{
    font-size: 1.8rem;
}
h6{
    font-size: 1.6rem;
}
p{
    margin-bottom: 10px;
}