
*{
    box-sizing: border-box;
    margin: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}