
/*COLORS*/
$white:#fff; // white color
$dark: #000;
$light_gray:#ccc;
$dark_gray: #444;
$purple: #940a6d;
$green: #0f0;
$blue: #00f;
$red: #f00;
$orange:orange;
$yellow: yellow;




$enable_rounded: false;